@import "~bootstrap/scss/bootstrap.scss";

.traffic-light {
    background: black;
    height: 415px;
    width: 200px;
    padding-left: 2rem;
    border-radius: 10px 10px 10px 10px;

}

.traffic-light div {
    height: 130px;
    width: 140px;
    padding-left: 4em;
    padding-top: 5em;
}

.greyLight {
    border-radius: 50%;
    background: lightgray;
    margin-bottom: 5px;
    margin-top: 5px;
}

.redOff{
    border-radius: 50%;
    background: gray;
}

.redOn{
    background-color: red;
    border-radius: 50%;
    box-shadow:20px 20px 50px 10px lightcoral; 

}

.greenOff{
    border-radius: 50%;
    background: gray;
}

.greenOn{
    background-color: green;
    border-radius: 50%;
    box-shadow:20px 20px 50px 10px lightgreen; 


}
.yellowOff{
    border-radius: 50%;
    background: gray;
}

.yellowOn{
    background-color: yellow;
    border-radius: 50%;
    box-shadow:20px 20px 50px 10px yellowgreen; 
}